<h2>Campo deportivo</h2>
<hr/>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" formControlName="nombre" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"/>
        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
        </div>
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input id="descripcion" type="text" formControlName="descripcion" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"/>
        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
            <div *ngIf="f.descripcion.errors.required">Descripcion es requerida!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="horarioDeAtencion">Horario de Atención</label>
        <input id="horarioDeAtencion" type="text" formControlName="horarioDeAtencion" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.horarioDeAtencion.errors }"/>
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
            <div *ngIf="f.horarioDeAtencion.errors.required">Horario de Atención es requerido</div>
        </div>
    </div>

    <div class="form-group">
        <label for="typeahead-basic">Propietario:</label>
        <input id="typeahead-basic" type="text" formControlName="propietario" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.propietario.errors }"
               [(ngModel)]="model" [ngbTypeahead]="search"/>
        <div *ngIf="submitted && f.propietario.errors" class="invalid-feedback">
            <div *ngIf="f.propietario.errors.required">Propietario es requerido!</div>
        </div>
    </div>

    <div class="form-group">
        <label for="departamento">Departamento </label>
        <select id="departamento" class="form-control" formControlName="departamento" (ngModelChange)="selectChanged()"
                [ngClass]="{ 'is-invalid': submitted && f.departamento.errors }">
            <option *ngFor="let item of departamentos"
                    [ngValue]="item">{{item.departamento}}</option>
            <option value="" selected="selected">Departamento</option>
        </select>
        <div *ngIf="submitted && f.departamento.errors" class="invalid-feedback">
            <div *ngIf="f.departamento.errors.required">Departamento is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="municipio">Ciudad</label>
        <select id="municipio" class="form-control" formControlName="municipio"
                [ngClass]="{ 'is-invalid': submitted && f.municipio.errors }">
            <option *ngFor="let city of ciudades" [ngValue]="city">{{city}}</option>
            <option value="" selected="selected">Ciudad</option>
        </select>
        <div *ngIf="submitted && f.municipio.errors" class="invalid-feedback">
            <div *ngIf="f.municipio.errors.required">Municipio is required</div>
        </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrar
        </button>
        <a routerLink="/login" class="btn btn-link">Cancelar</a>
    </div>

</form>
