<h2>¿Que quieres jugar?</h2>

<div class="list-group list-disciplinasdeportivas">
    <span style="margin: 0px auto !important" *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    <a *ngFor="let sport of sportings | sort" (click)="cargarAthleticDiscipline(sport)" class="list-group-item list-group-item-{{sport.clase}}">
        <em class="fa fa-arrow-{{sport.icono}}"></em>
        {{sport.nombre}}
    </a>
</div>
<a routerLink="/home" class="btn btn-link"><em class="fa fa-arrow-circle-left"></em> Atras</a>

