<h1>Hola,  {{currentUser.nombreCompleto}}!</h1>
<p>Eres un usuario registrado!</p>
<div class="card-columns">
    <div class="card bg-primary" routerLink="athleticDiscipline" style="cursor: pointer;">
        <div class="card-body text-center">
            <p class="card-text"><i class="fa fa-street-view"></i> Quiero Jugar!</p>
        </div>
    </div>
    <div class="card bg-danger" routerLink="create-sportfield" style="cursor: pointer;">
        <div class="card-body text-center">
            <p class="card-text"><i class="fa fa-universal-access"></i> Organizar un juego!</p>
        </div>
    </div>
    <div class="card bg-success" style="cursor: pointer;">
        <div class="card-body text-center">
            <p class="card-text"><i class="fa fa-user"></i> Configurar perfil!</p>
        </div>
    </div>
    <div class="card bg-danger" style="cursor: pointer;">
        <div class="card-body text-center">
            <p class="card-text"><i class="fa fa-universal-access"></i> Mis eventos!</p>
        </div>
    </div>
</div>
