<h2>Nuevo usuario</h2>
<hr />
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nombreCompleto">Nombre Completo</label>
        <input id="nombreCompleto" type="text" formControlName="nombreCompleto" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreCompleto.errors }" />
        <div *ngIf="submitted && f.nombreCompleto.errors" class="invalid-feedback">
            <div *ngIf="f.nombreCompleto.errors.required">Nombre Completo is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="usuario">Username</label>
        <input id="usuario" type="text" formControlName="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
            <div *ngIf="f.usuario.errors.required">usuario is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="passwordHash">Password</label>
        <input id="passwordHash" type="password" formControlName="passwordHash" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.passwordHash.errors }" />
        <div *ngIf="submitted && f.passwordHash.errors" class="invalid-feedback">
            <div *ngIf="f.passwordHash.errors.required">Password is required</div>
            <div *ngIf="f.passwordHash.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrar
        </button>
        <a routerLink="/login" class="btn btn-link">Cancelar</a>
    </div>
</form>
